.toolbar {
    background-color: #ccdfcd;
}

.logoutButton {
    text-decoration-color: #ccdfcd;
}

/* Adicione essas regras ao seu arquivo de estilo */

.toolbar-row {
    justify-content: flex-end;
}

.spacer {
    flex: 1;
}
