<mat-toolbar class="toolbar" *ngIf="showToolbar">
    <mat-toolbar-row class="toolbar-row">


        <button mat-button (click)="redirect('home')">
            Home
        </button>

        <span class="spacer"></span>

        <i class="material-icons">people</i>
        <span>{{ userName }}</span>
        <button mat-button (click)="logout()">
            <i class="material-icons">logout</i>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<p-toast></p-toast>
