.toolbar {
    background-color: white;
}

.toolbar {
    background-color: #0000004d;
}

.toolbar-btn {
    background-color: rgba(0, 0, 0, 0.200);
}

.toolbar-row {
    justify-content: flex-end;
}

.spacer {
    flex: 1;
}
