<mat-toolbar class="toolbar" *ngIf="showToolbar">
    <mat-toolbar-row class="toolbar-row">


        <button mat-raised-button (click)="redirect('home')">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Home
        </button>

        <span class="spacer"></span>

        Bem Vindo(a), {{ userName }}
        <button mat-button (click)="logout()">
            <i class="material-icons">logout</i>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

<router-outlet></router-outlet>
