<div class="container">

    <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="date" (click)="loadData(date)"></mat-calendar>
    </mat-card>

    <br />
    <div class="custom-divider"></div>
    <br />

    <mat-tab-group class="col-12">
        <mat-tab label="Eventos Confirmados">

            <br />
            <div class="div-add-event col-12">
                <button mat-raised-button color="primary" class="col-2"
                    (click)="redirect('events/new', false, null)">Criar
                    Eventos</button>
            </div>
            <br />

            <mat-form-field class="col-12">
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event, true)" #input>
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="eventsDataSource">

                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef> Inicio </th>
                        <td mat-cell *matCellDef="let element"> {{ element.startDate | date:'dd/MM/yyyy
                            HH:mm':'America/Sao_Paulo' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef> Fim </th>
                        <td mat-cell *matCellDef="let element"> {{ element.endDate | date:'dd/MM/yyyy
                            HH:mm':'America/Sao_Paulo' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="event">
                        <th mat-header-cell *matHeaderCellDef> Evento/Descrição </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} | {{element.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="localization">
                        <th mat-header-cell *matHeaderCellDef> Localização </th>
                        <td mat-cell *matCellDef="let element"> {{element.localization}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="redirect('events/edit', false, element.id)"
                                *ngIf="element.createdBy == userId">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="deleteItem(element.id)"
                                *ngIf="element.createdBy == userId">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button (click)="redirect('events/edit', true, element.id)"
                                *ngIf="element.createdBy != userId">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="eventsDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: eventsDisplayedColumns;"></tr>
                </table>

                <mat-paginator [length]="eventsResultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of eventsDataSource elements">
                </mat-paginator>
            </div>
        </mat-tab>
        <mat-tab label="Convites">

            <br />

            <mat-form-field class="col-12">
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event, false)" #input>
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="invitationsDataSource">

                    <ng-container matColumnDef="hostName">
                        <th mat-header-cell *matHeaderCellDef> Anfitrião </th>
                        <td mat-cell *matCellDef="let element"> {{element.hostName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="eventName">
                        <th mat-header-cell *matHeaderCellDef> Evento/Descrição </th>
                        <td mat-cell *matCellDef="let element"> {{element.eventName}} | {{element.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef> Inicio </th>
                        <td mat-cell *matCellDef="let element"> {{ element.startDate | date:'dd/MM/yyyy
                            HH:mm':'America/Sao_Paulo' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef> Fim </th>
                        <td mat-cell *matCellDef="let element"> {{ element.endDate | date:'dd/MM/yyyy
                            HH:mm':'America/Sao_Paulo' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="localization">
                        <th mat-header-cell *matHeaderCellDef> Localização </th>
                        <td mat-cell *matCellDef="let element"> {{element.localization}} </td>
                    </ng-container>

                    <ng-container matColumnDef="participantNames">
                        <th mat-header-cell *matHeaderCellDef> Participantes (Além de Você) </th>
                        <td mat-cell *matCellDef="let element">
                            <ul>
                                <li *ngFor="let participant of element.participantNames">{{ participant }}</li>
                            </ul>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Aceitar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="inviteAction(element.eventId, true)">
                                <mat-icon>check</mat-icon>
                            </button>
                            <button mat-icon-button (click)="inviteAction(element.eventId, false)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="invitationsDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: invitationsDisplayedColumns;"></tr>
                </table>

                <mat-paginator [length]="invitationsResultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of invitationsDataSource elements">
                </mat-paginator>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
