/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 90%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


* {
    box-sizing: border-box;
}

.success {
    --mdc-snackbar-container-color: green;
    --mdc-snackbar-supporting-text-color: white;
}

.error {
    --mdc-snackbar-container-color: red;
    --mat-mdc-snack-bar-button-color: white;
}

.warning {
    --mdc-snackbar-container-color: orange;
    --mat-mdc-snack-bar-button-color: white;
}
