<mat-card class="container col-6 col-sm-6 col-md-8">
    <mat-card-header>
        <mat-card-title>{{create ? 'Cadastrar' : 'Atualizar'}} Evento</mat-card-title>
        <mat-card-subtitle>preencha o formulário</mat-card-subtitle>
    </mat-card-header>

    <br />

    <form class="login-form" [formGroup]="form" (ngSubmit)="submit(create)">
        <mat-form-field class="col-12">
            <mat-label>Nome do evento</mat-label>
            <input formControlName="id" hidden>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-label>Descrição do evento</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>

        <div class="col-12">
            <span>Início</span>
        </div>
        <mat-form-field class="col-8">
            <mat-label>Data do evento</mat-label>
            <input matInput [matDatepicker]="startDatepicker" formControlName="startDate">
            <mat-datepicker-toggle matIconSuffix [for]="startDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label for="startHour">Hora</mat-label>
            <mat-select name="startHour" id="startHour" formControlName="startHour">
                @for (hour of hours; track hour) {
                <mat-option [value]="hour.value">{{hour.viewValue.toString().padStart(2, '0')}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label for="startMinute">Minuto</mat-label>
            <mat-select name="startMinute" id="startMinute" formControlName="startMinute">
                @for (minute of minutes; track minute) {
                <mat-option [value]="minute.value">{{minute.viewValue.toString().padStart(2, '0')}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <div class="col-12">
            <span>Fim </span>
        </div>
        <mat-form-field class="col-8">
            <mat-label>Data do evento</mat-label>
            <input matInput [matDatepicker]="endDatepicker" formControlName="endDate">
            <mat-error *ngIf="form.get('endDate')?.hasError('InvalidEventEndDateTime')">Data/Hora para o fim do
                evento inválida!</mat-error>
            <mat-datepicker-toggle matIconSuffix [for]="endDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label for="endHour">Hora</mat-label>
            <mat-select name="endHour" id="endHour" formControlName="endHour">
                @for (hour of hours; track hour) {
                <mat-option [value]="hour.value">{{hour.viewValue.toString().padStart(2, '0')}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label for="endMinute">Minuto</mat-label>
            <mat-select name="endMinute" id="endMinute" formControlName="endMinute">
                @for (minute of minutes; track minute) {
                <mat-option [value]="minute.value">{{minute.viewValue.toString().padStart(2, '0')}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-label>Endereço do Evento</mat-label>
            <textarea matInput placeholder="Ex. Rua/Avnida..., Bairro..." formControlName="localization"></textarea>
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-label>Participantes do Evento</mat-label>
            <mat-select formControlName="participantIds" multiple>
                @for (topping of toppingList; track topping) {
                <mat-option [value]="topping.id">{{topping.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-card-actions class="col-12 container">
            <button mat-raised-button color="primary" class="col-6" type="submit">{{create ? 'Cadastrar' :
                'Atualizar'}}</button>
            <br />
            <button mat-raised-button class="col-6" (click)="redirect('home')">Cancelar</button>
        </mat-card-actions>

    </form>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</mat-card>
