<mat-card class="container col-6">
    <mat-card-header>
        <mat-card-title>Adicionar Evento</mat-card-title>
        <mat-card-subtitle>preencha o formulário</mat-card-subtitle>
    </mat-card-header>

    <br />

    <form class="example-form">
        <mat-form-field class="col-12">
            <mat-label>Nome do evento</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-label>Descrição do evento</mat-label>
            <input matInput>
        </mat-form-field>

        <div class="col-12">
            <span>Início</span>
        </div>
        <mat-form-field class="col-8">
            <mat-label>Data do evento</mat-label>
            <input matInput [matDatepicker]="datepicker">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label>Hora</mat-label>
            <mat-select>
                @for (hour of hours; track hour) {
                <mat-option [value]="hour.value">{{hour.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label>Minuto</mat-label>
            <mat-select>
                @for (minute of minutes; track minute) {
                <mat-option [value]="minute.value">{{minute.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <div class="col-12">
            <span>Fim</span>
        </div>
        <mat-form-field class="col-8">
            <mat-label>Data do evento</mat-label>
            <input matInput [matDatepicker]="datepicker">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label>Hora</mat-label>
            <mat-select>
                @for (hour of hours; track hour) {
                <mat-option [value]="hour.value">{{hour.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label>Minuto</mat-label>
            <mat-select>
                @for (minute of minutes; track minute) {
                <mat-option [value]="minute.value">{{minute.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-label>Endereço do Evento</mat-label>
            <textarea matInput placeholder="Ex. Rua/Avnida..., Bairro..."></textarea>
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-label>Participantes do Evento</mat-label>
            <mat-select [formControl]="toppings" multiple>
                @for (topping of toppingList; track topping) {
                <mat-option>{{topping.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>

    <mat-card-actions>
        <button mat-raised-button color="primary" class="col-6">Adicionar</button>
        <div class="col-2"></div>
        <button mat-button class="col-6" (click)="redirect('home')">Cancelar</button>
    </mat-card-actions>
</mat-card>
