/* login.component.css */

body {
    margin: 0;
    overflow: hidden;
    /* Adicione esta linha para ocultar a barra de rolagem do corpo */
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    /* Adicione esta linha para incluir padding e borda na largura total */
}

.login-form {
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    color: #555;
}

input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #45a049;
}
