<div class="login-container col-12 col-sm-8 col-md-6 col-lg-4">
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="text-center mb-3"> <!-- Adicionado text-center para centralizar e mb-3 para margem inferior -->
            <img src="assets\calendar.jpg" alt="Imagem 1">
        </div>

        <mat-form-field class="col-12">
            <mat-label>Usuário:</mat-label>
            <input matInput type="text" id="username" formControlName="email" required>
            <mat-error *ngIf="form.get('email')?.hasError('required')">Nome obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-label>Senha:</mat-label>
            <input matInput type="password" id="password" formControlName="password" required>
            <mat-error *ngIf="form.get('password')?.hasError('required')">Senha obrigatória</mat-error>
        </mat-form-field>

        <div class="mb-3"></div>

        <button type="submit" mat-button>Entrar</button>
    </form>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

</div>
